body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    margin-right: 25% ;
    margin-left: 25%;
  }
  .emoji {
    /* each of the rectangles */
    display: flex;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    flex-direction: column;
  }
  
  .emoji h2 {
    /* the headers under the icons */
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    /* the purple interaction buttons */
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    order: 2;
    margin-top: auto;
    justify-content: center;
  }

  .icon {
    /* the actual emoji icons */
    display: flex;
    font-size: 4rem;
    order: -1;
    justify-content: center;
  }

  .emojis{
    /* mass selection */
    display: grid;
    grid-template-rows: 300px 350px;
    grid-template-columns: 50% 50%;
    padding: 10px;
    gap: 10px;
    /* end of page */
  }
  
